
.App {
  text-align: left;
}



.login-form{
  background-color: azure;
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
  
}


.abc{
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
}

.body{
  background-size: auto;
  background-color: cornsilk;
  background-image: url('../images/abc.jpg');
  background-size: 1600px;
}


.home{
  background-color:	black;
  background-size: 100%;
  margin: auto;
  max-width: 90%;
  text-align: center;
}

.abcc{
  display:flex;
  flex-direction:row;
}

.row{
  margin: auto;
  max-width: 90%;
}


section {
  display: -webkit-flex;
  display: flex;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: 	lightslategray;
  padding: 10px;
}

.intro {
  padding-top: 10px;
  padding-left: 10px;
  background: lightgray;
  height: 200px;
  width: 850px;
  border-radius: 15px;
}
.insti {
  padding-top: 10px;
  padding-left: 10px;
  background: lightgray;
  height: 200px;
  width: 850px;
  border-radius: 15px;
}
.award {
  padding-top: 10px;
  padding-left: 10px;
  background: lightgray;
  height: 200px;
  width: 850px;
  border-radius: 15px;
}
.team {
  padding-top: 10px;
  padding-left: 10px;
  background: lightgray;
  height: 200px;
  width: 850px;
  border-radius: 15px;
}

.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #171D36;
  color: white;
}